.board2d {
    display: grid;
    grid-template-columns: 30px 30px 30px 30px 30px 30px 30px 30px ;
    grid-template-rows: 30px 30px 30px 30px 30px 30px 30px 30px ;
    border: solid black 2px;
    width: fit-content;
}

.field {
    display: flex;
    justify-content: center;
    align-items: center;
}

.color1 {
    background-color: limegreen;
}

.color2 {
    background-color: lightgray;
}

.activated {
    border: white solid 2px;
}

.redPawn {
    background-color: red;
    width: 25px;
    height: 25px;
    border-radius: 20px;
}

.bluePawn {
    background-color: blue;
    width: 25px;
    height: 25px;
    border-radius: 20px;
}